body {
	/*background-image: url("cork.png");*/
	font-family: 'Boogaloo', cursive;
}

#main{
	font-size: 24px;
	font-weight: bold;
}

hr {
	margin: 10px 0;
}

.animals{
	position: relative;
	bottom: 20px;
}

#gamemain{
	font-size: 28px;
}

.jumbotron {
    position: relative;
    background:url("gear1.gif");
	background-position: right;
	background-repeat: no-repeat;
	overflow: hidden;
	height: 220px;
	margin-bottom: 5px;
	border-bottom: #313131;
}

#play{
	position: relative;
	bottom: 25px;
}

.buttons-wrap {
	margin: 10px 0;
}

.letter-button {
	padding: 10px 15px;
}

.letter-button-color{
	color: rgb(255, 255, 255);
	background-color: black;
	border-radius: 25px;
	font-size: 14px;
}

#wrong-letters {
	font-size: large;
}

#blank-word {
	font-size: large;
}

#play {
	font-size: x-large;
}

.answer {
	font-size: large;
}

footer {
	position: fixed;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	bottom: 0;
	left: 0;
	background-color: #c8c8c8;
}

@media (max-width: 768px) {
	body {
		/*background-image: url("../../assets/images/tree.gif") no-repeat center center fixed;*/
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	h1 {
		font-size: 50px;
	}
}

@media only screen and (min-width: 768px) {
	body {
		/*background-image: url("../../assets/images/tree.gif") no-repeat center center fixed;*/ 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}

	.jumbotron {
		padding: 15px!important;
	}
}

@media only screen and (min-width: 992px) {
	body {
		/*background-image: url("../../assets/images/tree.gif") no-repeat center center fixed;*/ 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
}

@media only screen and (min-width: 1200px) {
	body {
		/*background-image: url("../../assets/images/tree.gif") no-repeat center center fixed;*/ 
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	}
}	